@import '../vendors/bootstrap-sass/assets/stylesheets/bootstrap-sprockets'
@import '../vendors/bootstrap-sass/assets/stylesheets/bootstrap'

@import 'font-icon'
@import '1-tools/mixins'

*
  box-sizing: border-box

.video-wrapper
  float: none
  clear: both
  width: 100%
  position: relative
  // 16:9
  padding-bottom: 56.25%
  padding-top: 25px
  height: 0
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100% !important
    height: 100% !important


.article--video-img-cover
  display: block
  width: 100%
  min-width: 30%
  height: auto
  //background-image: url(./assets/images/adaptive-paths-guide-to-experience-mapping.jpg)
  background-size: cover

img
  width: 100%
  height: auto


.article--video-img
  //override default 500px width set by default by the class - inherited from _legacy.scss
  width: 100%

button
  &.button-secondary
    height: 44px
    padding: 0 40px
    margin: 0 auto
    background-color: #6ba2aa
    border-radius: 10px
    border: 1px solid #fce87c
    color: #fce87c
    text-transform: uppercase
    +transition(all .2s ease-in-out)
    &:hover
      color: #6ba2aa
      background: #fce87c
      border: 2px solid #fce87c

video
  object-fit: contain

body
  @media (max-width: 690px)
    display: block
    width: 100vh
    height: auto
    background: url('../assets/images/adaptive-paths-guide-to-experience-mapping-1320px.jpg') center center


.is-invisible
  display: none


.weather-block
  margin: 0 auto
  padding: 150px 10px

.weather-list
  display: block
  width: 100%
  margin: 0 auto
  padding: 10px 0
  font-size: 1.6em
  > ul
    display: inherit
    width: 100%
    padding-bottom: 10px
    margin-bottom: 10px

    > li
      display: inline-block
      padding: 20px 25px
      list-style: none
      border-bottom: 1px solid white
      &:first-child
        float: left
      &:not(:first-child)
        float: right
      &:nth-child(2n+2)
        color: red
        position: relative
        &:before
          position: absolute
          top: 35%
          left: 10px
          padding-right: 5px
          margin-right: 10px
          content: ""
          height: 30%
          border-right: 1px solid orange


table
  &.table
    > tbody
      > tr
        > td
          position: relative
          box-sizing: border-box
          padding: 15px 10px
          border-top: none
          border-bottom: 1px solid rgba(255, 255, 255, 0.02)
          font-size: 1.5em
          font-weight: 300
          text-align: left
          &:before
            content: ''
            position: absolute
            z-index: -1
            top: 0px
            left: 0px
            right: 0px
            bottom: 0px
            border-bottom: 1px solid rgba(163, 163, 163, 0.2)

          &:first-child
            width: 50%

          &:last-child
            width: 25%
            text-align: right
            font-weight: 500
          &:nth-child(2n+2)
            width: 25%
            text-align: right



.fullscreen-bg
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  overflow: hidden
  z-index: -100
  @media (max-width: 767px)
    //background: url('../img/videoframe.jpg') center (center / cover) no-repeat


.fullscreen-bg__video
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  @media (min-aspect-ratio: 16 / 9)
    height: 300%
    top: -100%
  @media (max-aspect-ratio: 16 / 9)
    width: 300%
    left: -100%
  @media (max-width: 767px)
    display: none

